<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Support Ticket</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
  </head>
  <body>
    <section class="section">
      <div class="container">
        <a class="button is-link mb-4" href="/tickets/">Back to Tickets</a>

        <h1 class="title">Editing the Ticket</h1>

        <form action="/tickets/<%= ticket._id %>?_method=PUT" method="POST">
          
          <div class="field">
            <label class="label">Escalation ID:</label>
            <div class="control">
              <input class="input" type="number" name="escalationId" value="<%= ticket.escalationId %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Subject:</label>
            <div class="control">
              <input class="input" type="text" name="subject" value="<%= ticket.subject %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Description:</label>
            <div class="control">
              <input class="input" type="text" name="description" value="<%= ticket.description %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Customer Email:</label>
            <div class="control">
              <input class="input" type="text" name="customerEmail" value="<%= ticket.customerEmail %>">
            </div>
          </div>

          <div class="field">
            <label class="label">CPO Name:</label>
            <div class="control">
              <div class="select">
                <select name="cpoName" id="cpoName">
                  <% cpos.forEach(cpo => { %>
                    <option <%= cpo.cpoName === ticket.cpoName ? 'selected' : '' %>><%= cpo.cpoName %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">City:</label>
            <div class="control">
              <input class="input" type="text" name="city" value="<%= ticket.city %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Country:</label>
            <div class="control">
              <input class="input" type="text" name="country" value="<%= ticket.country %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Priority:</label>
            <div class="control">
              <input class="input" type="number" name="priority" value="<%= ticket.priority %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Status:</label>
            <div class="control">
              <input class="input" type="text" name="status" value="<%= ticket.status %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Creation Date:</label>
            <div class="control">
              <input class="input" type="datetime" name="createdAt" value="<%= ticket.createdAt %>">
            </div>
          </div>

          <div class="field">
            <label class="label">Brand:</label>
            <div class="control">
              <input class="input" type="text" name="brand" value="<%= ticket.brand %>">
            </div>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="allowedContact" <% if (ticket.allowedContact) { %>checked<% } %> >
              Can the customer be contacted?
            </label>
          </div>

          <div class="field">
            <label class="label">Assigned To:</label>
            <div class="control">
              <input class="input" type="text" name="assignedTo" value="<%= ticket.assignedTo %>">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">Save Edited Ticket</button>
            </div>
          </div>

        </form>
      </div>
    </section>
  </body>
</html>
