<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= ticket.subject %></title> 
    <a href="/tickets/">Back to Tickets</a>
  </head>
  <body>
    <h1><%= ticket.subject %></h1> 
    <a href="/tickets/<%= ticket._id %>/edit">Edit the ticket "<%= ticket.subject %>"</a>
    <p><%= ticket.escalationId %></p> 
    <p><%= ticket.description %></p> 
    <p><%= ticket.customerEmail %></p>
    <p><%= ticket.cpos %></p>
    <p><%= ticket.city %></p>
    <p><%= ticket.country %></p>
    <p><%= ticket.priority %></p> 
    <p><%= ticket.status %></p>
    <p><%= ticket.createdAt %></p>
    <p><%= ticket.brand %></p>
    <p><%= ticket.assignedTo %></p>
    
 <% if (ticket.allowedContact) { %>
    <p>This customer has accepted to be contacted again</p>
  <% } else { %>
    <p>Do no contact the customer.</p>
  <% } %>
  <form action="/tickets/<%=ticket._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete ticket</button>
</form>
  </body>
</html>
